/* Primary stying focused on mobile breakpoint: 320px - 480px */
/* Mockup designed for 393px wide (pixel 5 responsive) */

html, body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  min-height: 75rem;
padding-top: 4.5rem;
}

#nav-logo-name {
  color: #062315;
  font-size: 1.3rem;
  font-family: 'Caprasimo', cursive;
  padding-left: 5px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-toggler-icon {
  width: 25px;
  height: 25px;
}

.navbar-toggler {
  border-style: none;
}

.nav-link {
  color: #062315;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgb(6 35 21);
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-nav button {
  background-color: #f8f9fa;
  border-radius: 0px;
  border: none;
}

.sign-up {
  color: #062315
}

button {
  padding-left: 0px;
}

.home-hero {
  background-color: #EE9275;
  background: rgba(238,146,117,0.7); 
}

@media only screen and (max-width: 480px) {
  

}

/* Breakpoint for tablet: 481-768px */
@media only screen and (min-width: 481px) {
  
}

/* Breakpoint for small screens, laptops: 769-1024px */
@media only screen and (min-width: 991px) {

  .navbar-nav button {
    background-color: #062315;
    border-radius: 10px;
    /* width: 90px;
    height: auto; */
    padding: 0;
  }

  .sign-up {
    color: white;
    padding: 5px 8px 5px 8px;
    font-weight: bold;
  }

  .nav-auth {
    display: flex;
    align-items: center;
  }

}

/* Breakpoint for desktops, large screens: 1025+ px */
@media only screen and (min-width: 1025px) {

}